body {
    margin: 0;
    padding: 0;
}
#container {
    align-content: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    width: 424px;
    margin: 20px auto;
}

div.grid img {
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid black;
}